.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
}   
mat-form-field {
    width: 100%;
  }

  .trend-dialog .mat-dialog-container{
    overflow-y: hidden !important;
}

/* .readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
} */